<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/masterStyle.css">
    <link rel="stylesheet" href="../css/catalogo.css">
    <title>Catálogo</title>
</head>
<body>
    <div class="barraLateral">
        <div class="nombrePagina">
            <img src="../img/bee.png" id="icloud" class="bee">
            <span>Menú</span>
        </div>
        <button type="submit" class="botonBarra btn">
            <a href="inicio">
                <i class='bx bx-home-alt-2'></i>
                <span>Inicio</span>
            </a>
        </button>

        <nav class="navegation">
            <ul>
                <li>
                    <a id="catalogo" href="catalogo">
                        <i class='bx bx-store'></i>
                        <span>Catalogo</span>
                    </a>
                </li>
                <li>
                    <a id="carrito" href="carrito">
                        <i class='bx bx-cart-alt'></i>
                        <span>Carrito</span>
                    </a>
                </li>
                <li>
                    <a id="inventario" href="inventario">
                        <i class='bx bx-package'></i>
                        <span>Inventario</span>
                    </a>
                </li>
                <li>
                    <a id="pedidos" href="pedidos">
                        <i class='bx bx-book-content'></i>
                        <span>Pedidos</span>
                    </a>
                </li>
                <li>
                    <a class="btn-lateral" id="ajustes" href="users">
                        <i class='bx bx-cog' ></i>
                        <span>Ajustes</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="separador"></div>
    </div>
    
    <main>
        <h1>Catálogo</h1>
        <div class="mt-10 mb-20">
            <a class="mt-10 btn-secundary" href="carrito"> Ir al Carrito</a>
        </div>
        <div id="contenedor-productos" class="contenedor-productos">
            
            <!-- Se rellena con JS -->
        
        </div>
    </main>

    <footer class="footer">
        <div class="footer-content container">
            <h6>Copyright © Marvin Camacho | Danna Gomez | Jaime ibarra</h6>
        </div>
    </footer>

    <script src="../js/general.js" ></script>
    <script src="../js/catalogo.js"></script>
</body>
</html>