<nav class="navegation">
            <ul>
                <li>
                    <a id="citas" href="citas.html">
                        <i class='bx bx-store'></i>
                        <span>Mis citas</span>
                    </a>
                </li>
                <li>
                    <a id="cotizar" href="cotizar.html">
                        <i class='bx bx-cart-alt'></i>
                        <span>Cotizar</span>
                    </a>
                </li>
                <li>
                    <a id="historial" href="historial.html">
                        <i class='bx bx-package'></i>
                        <span>Historial de citas</span>
                    </a>
                </li>
                <li>
                    <a id="pedidos" href="pedidos.html">
                        <i class='bx bx-book-content'></i>
                        <span>Historial clinico</span>
                    </a>
                </li>
                <!-- <li>
                    <a class="btn-lateral" id="ajustes" href="users.html">
                        <i class='bx bx-cog' ></i>
                        <span></span>
                    </a>
                </li> -->
            </ul>
        </nav>