/* Boton para marcar focus de barra lateral */
#carrito{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-orange);
    transition: all 0.4s ease-in-out;
    box-shadow: inset 4px 5px 2px var(--color-shadow);
}

/* Estilo para productos en carrito */
.container-carrito .disable{
    display: none;
}
.container-carrito{
    min-height: 68vh;
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

.carrito-producto{
    min-width: 400px;
    background:var(--bg-portada);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    transition: all 0.4s ease-in-out;
}

    .carrito-producto:hover{
        transform: scale(1.02);
    }

.carrito-producto p, small, h3{
    text-transform: capitalize;
}

.producto-carrito-img{
    width: 100px;
    border-radius: 15px;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
}

    .carrito-producto-eliminar i {
        transition: all 0.4s ease-in-out;
    }

    .carrito-producto-eliminar:hover i {
        color: var(--color-danger);
        transform: scale(1.5);
    }

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-right{
    display: flex;
    box-shadow: 0 5px 2px 0px var(--color-shadow);
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
}

    .carrito-acciones-right:hover{
        box-shadow: 0 0 20px var(--color-shadow);
    }

.carrito-acciones-total{
    display: flex;
    border: 0;
    padding: 15px;
    align-items: center;
    border-radius: 15px;
    text-transform: capitalize;
    gap: 10px;
    background: var(--bg-portada);
}
    /* .carrito-acciones-total:hover p{
        color: var(--color-orange);
    } */

.carrito-acciones-comprar{
    border: 0;
    padding: 15px;
    text-transform: capitalize;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: var(--color-btn-secundary);
    transition: all 0.4s ease-in-out;
}
    .carrito-acciones-comprar:hover{
        background-color: var(--color-orange);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .carrito-acciones-comprar:active{
        background-color: var(--color-orange);
        box-shadow: inset 4px 5px 2px 0px var(--color-shadow);
    }