#inicio{

  display: flex;
  margin-bottom: 70px;
  padding: 0;
  width: 100%; /* Smaller width */
  height: 45px; /* Smaller height */
  border: 2px solid #888888;
  outline: none;
  background-color: #f4f5f6;
  border-radius: 20px; /* Adjusted border-radius */
  box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out; /* Smooth animation */
  cursor: pointer;
  scale: 0.95;
  align-items: center;
  justify-content: center;
}
  #inicio i, #inicio span{
    color: var(--color-blue);
  }

    #inicio a{
        display: flex;
        align-items: center;
    }

    #inicio i{
        min-width:50px;
        font-size: 25px;
    }

