#inicio{
    display: flex;
    margin-bottom: 30px;
    padding:4px;
    width: 100%; /* Smaller width */
    height: max-content; /* Smaller height */
    border: 2px solid var(--color-blue);
    outline: none;
    background-color: #f4f5f6;
    border-radius: 20px; /* Adjusted border-radius */
    box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out; /* Smooth animation */
  cursor: pointer;
  scale: 0.95;
  color: var(--color-blue);
}

#inicio i,#inicio span{
    color: var(--color-blue);
}