@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    background-image: url('/img/Background3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-align: center;
}
/* formato de formulario */
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
/* contenedor de divs */
.container-divs{
    width: 380px;
    box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
    border-radius: 15px;
    padding: 30px 40px;
    background: #e8e8e8;
    backdrop-filter: blur(10px);
    transition: all 0.4s ease-in-out;
}

.container-divs:hover{
    
}
/* ----------------------------------para botones con iconos------------------------ */
/* contenedor de iconos general */
.social-icons-container{
    text-align: center;
    margin-bottom: 20px;
}
/* contenedor de iconos por separado */
.social-icons-container .icon{
    display: inline-block;
    font-size: 25px;
    margin: 0 10px;
      box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
    border-radius: 15px;
    padding: 7px 10px;
    transition: all 0.4s ease-in-out;
}

.social-icons-container .icon:hover{
    scale: 1.1;
}

/* color de iconos i */
.social-icons-container .icon i{
    transition: all 0.4s ease-in-out;
}
.social-icons-container .icon:hover i {
    color: var(--color-blue);
}

/*----------------------------- para colorear links en letras---------------------------------- */
a{
    text-align: center;
    transition: all 0.4s ease-in-out;
}

a:hover{
    color: var(--color-blue);
}
/* para ocultar divs */
.hidden {
    display: none;
}

/* para el mensaje de olvidaste tu contraseña y registrarse */
.form-message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}