#pedidos{
    display: flex;
    margin-bottom: 30px;
    padding:4px;
    width: 100%; /* Smaller width */
    height: max-content; /* Smaller height */
    border: 2px solid var(--color-blue);
    outline: none;
    background-color: #f4f5f6;
    border-radius: 20px; /* Adjusted border-radius */
    box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out; /* Smooth animation */
  cursor: pointer;
  scale: 0.95;
  color: var(--color-blue);
}

#pedidos i,#pedidos span{
    color: var(--color-blue);
}

    .card-paciente {
  position: relative;
  width: 390px;
  color: white;
  height: fit-content;
  background: #444;
  border-radius: 14px;
  justify-items: center;
}

.bg-ficha-paciente {
  position: absolute;
  z-index: -1;
  inset: -4px;
  border-radius: 16px;
  overflow: hidden;
}

.uwu {
  filter: blur(8px);
  transition: filter 0.3s;
}

.bg-ficha-paciente::before {
  content: '';
  position: absolute;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  min-width: 150%;
  min-height: 150%;
  background-image: conic-gradient(
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 60%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(360, 100%, 50%)
  );
  animation: speeen 4s linear infinite;
  transform-origin: 0% 0%;
  transform: rotate(0deg) translate(-50%, -50%);
}

@keyframes speeen {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

.content-ficha-paciente {
  position: relative;
  padding: 14px 16px;
  width: fit-content;
}

.img-paciente {
  height: 5em;
  width: 5em;
  margin: auto;
  background-color: #fff3;
  border-radius: 1em;
}

.img-paciente svg {
  height: 100%;
  fill: white !important
}

.content-ficha-paciente div {
  text-align: center;
}

.h1-paciente {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 600;
  color: white;
}

.p-paciente {
  font-size: 0.75em;
  color: white;
}

.p-paciente p {
  margin-top: 0.5em;
  padding: 0.7em; 
  background-color: rgba(91, 230, 255, 0.479); 
  border-radius: 1em;
  color : #FFFFFF; 
  text-align: center; 
  font-weight: 500;
  opacity: 0.9; 
}